<div class="container-hluid">
  <div class="row no-gutters">
    <div class="col-3 bg-primary ">
      <h1>test</h1>
      <h1>test</h1>
    </div>
    <div class="col-9">
      <hr>
      <div>
        <%= @conferenceroom.conferenceroomname %>
      </div>
      <div>
          <%= link_to "æ–°è¦ç™»éŒ²", new_conferenceroom_schedule_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>