<div class="container-hluid">
  <div class="row no-gutters">
    <%= render 'partial/menu' %>
    <div class="col-9">
      <div class="current"><%= current_user.lastname %> <%= current_user.firstname %></div>
      <hr class="style">
      <br>
      <h1>マイカレンダー</h1>
      <br>
      <div class="row">
        <div id="calendars" class="calendars"></div>
      </div>
    </div>
  </div>
</div>
