<div class="col-3 bg-primary ">
  <div class="menu1">
    <%= link_to "会議室一覧", root_path, class: "text-dark" %>
  </div>
  <div class="menu1">
    <% if current_user %>
      <%= link_to "マイカレンダー", schedules_path, class: "text-dark" %>
    <% end %>
  </div>
  <div class="menu1">
    <% if current_user %>
      <%= link_to "マイページ", user_path(current_user), class: "text-dark" %>
    <% end %>
  </div>
  <div class="menu1">
    <% if user_signed_in? %> 
      <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "text-dark" %>
    <% end %>
  </div>
</div>