// Place all the styles related to the conferencerooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#calendar {
    width: 100%;
    height: 70%;
    margin:0 0 0 auto
}
.col-3 { height: 1150px;}