// Place all the styles related to the conferencerooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#calendar {
    width: 100%;
    height: 70%;
    margin:0 0 0 auto
}
.col-3 {
    height: 1150px;
}
.edit-form {
    margin:0 0 0 5%;
}
.conferenceroom-delete-btn {
    margin:0 15px 10px 0px;
}
.conferenceroom-edit-btn {
    margin:0 0 10px 0px;
}
.edit-delete-btn {
    margin:0 0 0 280px;
}
.conferenceroom-new-btn {
    margin:0 0 0 350px;
}
.new-schedule-btn {
    margin:25px 0 0 40px;
}
