// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendars {
    width: 95%;
    height: 70%;
    margin:0 0 0 15px
}
.edit-schedule {
    margin:20px 0 0 5%;
}
.schedule-new-btn {
    margin:0 0 0 35px;
}
.my-schedule {
    margin:0 0 0 5%;
}