// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-profile-btn {
  margin:25px 0 10px 240px;
}
.my-page {
  margin:0 0 0 4%;
}
.user-last {
  margin:10px 0 10px 70px;
  font-size: 300%;
}
.user-first {
  margin:10px 0 10px 20px;
  font-size: 300%;
}
.user-email {
  margin:10px 0 10px 70px;
  font-size: 300%;
}
.edit-profile-form {
    margin:0 0 0 5%;
}
.edit-profile {
  margin:0 0 0 4%;
}
.edit-user-profile-btn {
  margin:25px 0 15px 180px;
}